$main-white: #ffffff;
$primary-light: #f3f4ff;
$primary-default: #4e60ff;
$secondary-default: #fd6d22;
$primary-success: #31b431;
$primary-danger: #a7230b;

$neutral-black: #2b2b43;
$neutral-gray: #83859c;
$neutral-gray-dark: #545563;
$neutral-gray-light: #c7c8d2;
$neutral-gray-lightest: #edeef2;
